nav {
    height: 60px;
    display: flex;
    align-items: center;    
    background-color: #fff;
}

nav .img {
    width: 200px;
    margin-left: 80px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 60px;
    margin-left: 100px;
}

li {
    list-style: none;
    font-size: 20px;
    transition: .3s;
}

nav a {
    text-decoration: none;
    /* color: rgb(54, 54, 53); */
    transition: .3s;
    color: #5a5b75;
    font-weight: 10px;
    font-size: 17px;
}

nav a:hover,
nav .act {
    color: #0f8fac;
}

.logo {
    height: 40px;
}

